*.tlog
*.idb
*.sdf
*.exp
*.map
*.obj
*.opensdf
node_modules
*.filters
package-lock.json
2018/shadertoy/001-XT-Kali-Underwater-Creature/x64/Debug/vc142.pdb
2018/shadertoy/001-XT-Kali-Underwater-Creature/x64/Debug/ShaderMaker.log
2018/shadertoy/001-XT-Kali-Underwater-Creature/Debug/vc142.pdb
2018/shadertoy/001-XT-Kali-Underwater-Creature/Debug/SoM-ST-XT-001-Kali-Underwater.lib
2018/shadertoy/001-XT-Kali-Underwater-Creature/Debug/ShaderMaker.log
2018/shadertoy/001-XT-Kali-Underwater-Creature/.vs/001-XT-Kali-Underwater/v16/ipch/AutoPCH/6867c49ff8c27fbf/FFGLSHADER.ipch
2018/shadertoy/001-XT-Kali-Underwater-Creature/.vs/001-XT-Kali-Underwater/v16/ipch/AutoPCH/4631f64d4986e243/SHADERMAKER.ipch
2018/shadertoy/001-XT-Kali-Underwater-Creature/.vs/001-XT-Kali-Underwater/v16/ipch/AutoPCH/235a8e6f4d7b6c76/FFGL.ipch
2018/shadertoy/001-XT-Kali-Underwater-Creature/.vs/001-XT-Kali-Underwater/v16/Browse.VC.opendb
2018/shadertoy/001-XT-Kali-Underwater-Creature/.vs/001-XT-Kali-Underwater/v16/Browse.VC.db
2018/shadertoy/001-XT-Kali-Underwater-Creature/x64/Debug/SoM-ST-XT-001-Kali-Underwater.pdb
2018/shadertoy/001-XT-Kali-Underwater-Creature/ShaderMaker.vcxproj.user
2018/shadertoy/001-XT-Kali-Underwater-Creature/Debug/SoM-ST-XT-001-Kali-Underwater.pdb
2018/shadertoy/001-XT-Kali-Underwater-Creature/Debug/SoM-ST-XT-001-Kali-Underwater.dll
2018/shadertoy/001-XT-Kali-Underwater-Creature/.vs/001-XT-Kali-Underwater/v16/.suo
2018/shadertoy/001-XT-Kali-Underwater-Creature/.vs/001-XT-Kali-Underwater/v16/ipch/AutoPCH/2cc345e1756e3fdb/FFGLPLUGINSDK.ipch
2018/shadertoy/001-XT-Kali-Underwater-Creature/Debug/SoM-ST-XT-001-Kali-Underwater.ilk
2018/shadertoy/001-XT-Kali-Underwater-Creature/x64/Debug/SoM-ST-XT-001-Kali-Underwater.lib
2018/shadertoy/001-XT-Kali-Underwater-Creature/x64/
2018/shadertoy/001-XT-Kali-Underwater-Creature/.vs/001-XT-Kali-Underwater/v16/
2018/shadertoy/001-XT-Kali-Underwater-Creature/Release/
